/* Variables */
:root {
  --text-grey: #969696;
  --text-light-grey: #cccccc;
  --text-lightest-grey: #efefef;
  --text-lighteest-grey: #f2f2f2;
  --text-black: #333333;
  --text-primary-color: #6e5fdc;
}

/*Fonts*/
@font-face {
  font-family: "GoogleSansBold";
  src: url(../assets/fonts/googleSans/GoogleSans-Bold.ttf);
}
@font-face {
  font-family: "GoogleSansRegular";
  src: url(../assets/fonts/googleSans/GoogleSans-Regular.ttf);
}

/* Base Styles */
html {
  font-size: 62.5%;
}
html body {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 800;
  font-family: "GoogleSansBold", "Roboto", sans-serif;
  color: var(--text-black);
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

html .section {
  margin-top: 18rem;
  margin-bottom: 18rem;
}

/* Container */
@media (min-width: 768px) {
  html .container {
    width: 750px;
  }
}
@media (min-width: 900px) {
  html .container {
    width: 950px;
  }
}
@media (min-width: 1400px) {
  html .container {
    width: 950px;
  }
}

html .container {
  padding: 100px 40px 200px 40px;
}

/* Header */
body h1 {
  font-size: 2.8em;
  font-weight: 800;
  line-height: 1.2em;
}

h1 a,
h1 a:visited,
h1 a:focus {
  text-shadow: -1px 0 var(--text-black), 0 1px var(--text-black),
    1px 0 var(--text-black), 0 -1px var(--text-black);
  text-decoration: none;
  color: white;
}
h1 a:hover {
  text-decoration: none;
  text-shadow: none;
  color: var(--text-primary-color);
}
a:hover {
  cursor: pointer;
}

/* Body */
p {
  white-space: pre-line;
  font-family: "GoogleSansRegular", "Roboto", sans-serif;
  font-weight: 100;
}

.coloredFont {
  color: var(--text-primary-color);
}

.btn {
  color: var(--text-black);
}

.btn:hover {
  box-shadow: 2px 2px 5px var(--text-lightest-grey);
}

.btn {
  margin-top: 10px;
  width: 100%;
}

h2.marginBottom {
  margin-bottom: 30px;
}

.centerImg {
  width: 100%;
  display: flex;
  justify-content: center;
}

img {
  height: 100px;
  width: 100px;
}

br.break10 {
  margin: 10px;
}

.italics {
  font-style: italic;
}
.highlight {
  background-color: var(--text-primary-color);
}
.bold {
  font-weight: bold;
}

@media (min-width: 768px) {
  body h1 {
    font-size: 4.6em;
  }
  p {
    white-space: pre-line;
    font-family: "GoogleSansRegular", "Roboto", sans-serif;
    font-weight: 100;
    font-size: 2rem;
    line-height: 3.5rem;
  }
  ul li {
    margin-left: 20px !important;
  }
}

ul li {
  list-style-type: square;
  margin-left: 0px;
  color: var(--text-primary-color);
}

li p {
  margin-left: 20px;
  color: var(--text-black);
}
