/* Variables */
:root {
    --text-grey: #969696;
    --text-light-grey: #cccccc;
    --text-lightest-grey: #efefef;
    --text-black: #333333;
    --text-green: #00ffe0;
}

/*Fonts*/
@font-face {
  font-family: 'GoogleSansBold';
  src: url(../assets/fonts/googleSans/GoogleSans-Bold.ttf);
}
@font-face {
  font-family: 'GoogleSansRegular';
  src: url(../assets/fonts/googleSans/GoogleSans-Regular.ttf);
}

/* Base Styles */
html {
  font-size: 62.5%;
}
html body {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 800;
  font-family: 'GoogleSansBold', 'Roboto', sans-serif;
  color: var(--text-black);
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Container */
@media (min-width: 768px){
  html .container { width: 700px; }}
@media (min-width: 900px){ html .container { width: 800px; }}
@media (min-width: 1400px){html .container { width: 1050px; }}

html .container {
  padding-right: 40px;
  padding-left: 40px;
}

/* Navbar */
.navbar-list {
  padding: 12% 0 12% 0;
  display: block;
}
.navbar-item {
  list-style:none;
  position: relative;
  float: left;
  margin-bottom: 5%;
  height: 40px;
}
.navbar-link{
  font-family: 'GoogleSansBold', 'Roboto', sans-serif;
  color: var(--text-black);
  margin-right: 35px;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: none;
  white-space: nowrap;
  background-color: #FFF;
  padding-bottom: 5px;
  border-radius: 0px;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
  border-bottom: 5px solid #FFF;
  transition: color .20s ease-in;
  -moz-transition: color .20s ease-in;
  -webkit-transition: color .20s ease-in;
  transition: border-bottom .20s ease-in;
  -moz-transition: border-bottom .20s ease-in;
  -webkit-transition: border-bottom .20s ease-in;
}
.navbar-item .active, .navbar-link:hover, .navbar-link:focus {
    color: var(--text-black);
    letter-spacing: 0.2rem;
    border-bottom: 5px solid var(--text-green);
    text-decoration: none;
}

/* Header */
body h1 {
  font-size: 2.8em;
  font-weight: 800;
  line-height: 1.2em;
}

h1 a, h1 a:visited, h1 a:focus{
  text-shadow: -1px 0 var(--text-black), 0 1px var(--text-black), 1px 0 var(--text-black), 0 -1px var(--text-black);
  text-decoration: none;
  color: white;
}
h1 a:hover{
  text-decoration: none;
  text-shadow: none;
  color: var(--text-green);
}
a:hover {
  cursor: pointer;
}

/* Body */
p {
  white-space: pre-line;
  font-family: 'GoogleSansRegular', 'Roboto', sans-serif;
  font-weight: 100;
}

.coloredFont {
  color: var(--text-green);
}

.btn {
  color: var(--text-black);
  /*background-color: var(--text-green);*/
}

.btn {
  margin-top: 10px;
  width: 100%;
}
#GLMI p, #GLMIexplanation p {
  margin-top: 25px;
  max-width: 100%;
}

#GLMIexplanation {
  margin-top: 100px;
}

h2.marginBottom {
  margin-bottom: 60px;
}

.btn:checked{
  color: var(--text-green);
  border: none;
}

img.centerImg {
  display: block;
  margin: 20px auto 20px auto;
  width: 100%;
}

br.break10 {
  margin: 10px;
}
.section {
  padding-bottom: 100px;
}

.italics {
  font-style: italic;
}
.highlight {
  background-color: var(--text-green);
}
.bold {
  font-weight: bold;
}

@media (min-width: 768px){
  body h1 { font-size: 4.6em; }
  img.centerImg{
    display: block;
    margin: 50px auto 20px auto;
    width: 80%!important;
  }
  .btn {
    margin-top: 30px;
    width: 15%;
  }
  #GLMI p {
    margin-top: 25px;
    max-width: 80%;
  }
  p {
    white-space: pre-line;
    font-family: 'GoogleSansRegular', 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
    line-height: 3.5rem;
  }
}

#workBody {
  margin-bottom: 100px;
}
