/* Variables */
:root {
    --text-grey: #969696;;
    --text-black: #333333;
}

@font-face {
font-family: 'GoogleSansBold';
src: url(../assets/fonts/googleSans/GoogleSans-Bold.ttf);
}
@font-face {
font-family: 'GoogleSansRegular';
src: url(../assets/fonts/googleSans/GoogleSans-Regular.ttf);
}

/* Base Styles */
html {
  font-size: 62.5%;
}

html body {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 800;
  font-family: 'GoogleSansBold', 'Roboto', sans-serif;
  color: var(--text-black);
}

/* Container */
@media (min-width: 768px){html .container { width: 1000px; }}

html .container {
  padding-right: 30px;
  padding-left: 30px;
}

/* navbar */
.navbar-list {
  padding: 15% 0 10% 0;
  display: block;
}
.navbar-item {
  list-style:none;
  position: relative;
  float: left;
  margin-bottom: 5%;
  height: 40px;
}
.navbar-link{
  font-family: 'GoogleSansBold', 'Roboto', sans-serif;
  color: var(--text-black);
  margin-right: 35px;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: none;
  white-space: nowrap;
  background-color: #FFF;
  padding-bottom: 5px;
  border-radius: 0px;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
  border-bottom: 5px solid #FFF;
  transition: color .20s ease-in;
  -moz-transition: color .20s ease-in;
  -webkit-transition: color .20s ease-in;
  transition: border-bottom .20s ease-in;
  -moz-transition: border-bottom .20s ease-in;
  -webkit-transition: border-bottom .20s ease-in;
}
.navbar-item .active, .navbar-link:hover, .navbar-link:focus {
    color: var(--text-black);
    letter-spacing: 0.2rem;
    border-bottom: 5px solid var(--text-black);
    text-decoration: none;
}



/* header */
body h1 {
  font-size: 4.5em;
  font-weight: 800;
}

#descriptionBody a, #contactBody a{
  text-shadow: -1px 0 var(--text-black), 0 1px var(--text-black), 1px 0 var(--text-black), 0 -1px var(--text-black);
  text-decoration: none;
  color: white;
}
#descriptionBody a:hover, #contactBody a:hover{
  text-decoration: none;
  text-shadow: none;
  color: var(--text-black);
}
